@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 300vh;
    width: 100%;
    flex-wrap: wrap;
}

/* header */

header {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #010101;
    z-index: 99;
    backdrop-filter: blur(50px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.navbar .logo {
    font-size: 46px;
    font-weight: 600;
    background: -webkit-linear-gradient(270deg, rgba(212, 203, 203, 0.781), rgb(155, 142, 142));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#icon {
    font-size: 41px;
    color: #010101;
    display: none;
}

.navbar .nav-link a {
    position: relative;
    display: inline-block;
    color: #010101;
    margin-left: 25px;
    font-size: 23px;
    font-weight: 500;
}

.nav-link a::before,
.nav-link a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background: #1b5339;
    transition: .5s;
}

.nav-link a::after {
    left: 0;
    bottom: -7px;
}

.nav-link a::before {
    right: 0;
    top: -7px;
}

.nav-link a:hover {
    color: #493c3c;
}

.nav-link a:hover::after,
.nav-link a:hover::before {
    width: 100%;
}

/* landing */

.image {
    height: 100%;
    width: 100%;
}

.landing-item>.text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 10;
}

.landing-item h1 {
    font-family: 'Times New Roman';
    margin-left: 50px;
    width: 50%;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 65px;
    color: rgba(7, 7, 7, 0.945);
}

.landing-item span {
    font-weight: 800;
    font-size: 55px;
    color: #105205fb;
    animation: bounceIn 3s;
}

@keyframes bounceIn {
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }

    35% {
        filter: opacity(0.25);
        transform: translateY(0);
    }

    70% {
        filter: opacity(0.5);
        transform: translateY(-10px);
    }

    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}

.landing-item p {
    font-size: 19px;
    margin-top: 50px;
    margin-right: 100px;
    width: 20%;
    line-height: 25px;
    color: #c2bbbb;
}

.need {
    filter: brightness(99%);
    background-color: #111111;
}

.need>h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

.need-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.need-items {
    padding: 40px 20px;
    width: 300px;
    height: 320px;
    background-color: rgb(44, 42, 42);
    color: white;
    margin: 50px 30px 50px 30px;
    text-align: center;
    transition: 0.3s ease;
}

.need-items:hover {
    border: 1px solid whitesmoke;
}

.need-items h1 {
    color: white;
    margin-top: 20px
}

.need-items p {
    line-height: 23px;
    margin-top: 18px;
}

.need-items i {
    padding: 16px;
    border: 1px solid white;
    border-radius: 50%;
    color: #24b407fb;
    background-color: rgb(36, 34, 34);
    position: absolute;
    bottom: 22%;
    z-index: 100;
    font-size: 30px;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 1200px) {

    #landing {
        max-width: 1200px;
        height: 100vh;
    }

    .landing-item>.text {
        flex-direction: column;
    }

    .landing-item h1 {
        width: 100%;
        font-size: 45px;
        margin-top: -100px;
        font-weight: 600;
        color: #161616;
    }

    .landing-item span {
        font-size: 45px;
    }

    .landing-item p {
        margin-left: 50px;
        width: 50%;
        font-size: 16px;
        margin-top: 2px;
    }

    .need img {
        height: 100%;
        width: 1210px;
    }

    .need {
        width: 1210px;
    }

    .need-items {
        padding: 10px 5px;
        width: 320px;
        height: 350px;
        background-color: rgb(44, 42, 42);
        color: white;
        margin: 20px;
    }

    .need-items h1 {
        color: white;
        margin-top: -15px;
    }

    .need-items p {
        margin: 15px;
        line-height: 30px;
    }

    .need-items i {
        position: relative;
        bottom: 0;
        left: 10%;
    }
}

@media (max-width: 720px) {
    .navbar .nav-link {
        position: absolute;
        top: 100%;
        right: -100%;
        backdrop-filter: blur(100px);
        width: 17rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .nav-link.active {
        right: 0;
    }

    .navbar .nav-link a {
        color: #3b3535;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    #icon {
        display: block;
    }

    .need img {
        height: 100%;
        width: 730px;
    }

    .landing-item>.text {
        flex-direction: column;
        margin-top: -60px;
    }

    .landing-item h1 {
        margin-left: 30px;
        width: 100%;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #161616;
    }

    .landing-item span {
        font-size: 25px;
    }

    .landing-item p {
        color: #493c3c;
        line-height: 15px;
        margin-left: 30px;
        width: 50%;
        font-size: 10px;
    }

    .need {
       width: 730px;
    }

    .need-item {
        flex-direction: column;
    }
    
    .need>h1 {
        margin-top: 10px;
        font-size: 45px;
    }
    
    .need-item {
        padding: 0px;
    }
    
    .need-items {
        padding: 20px 10px;
        width: 330px;
        height: 320px;
        background-color: rgb(44, 42, 42);
        color: white;
        margin: 50px;
    }

    .need-items h1 {
        color: white;
        margin-top: -15px
    }
    
    .need-items p {
        margin: 20px;
        line-height: 23px;
    }

    .need-items i {
        position: relative;
        bottom: 0;
        left: 10%;
    }
}